
<html>
	<head>
	 <meta charset="utf-8">
		 <script type="text/javascript">
				function Captcha(){
						var alpha = new Array('A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z','a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z');
						var i;
						for (i=0;i<6;i++){
							var a = alpha[Math.floor(Math.random() * alpha.length)];
							var b = alpha[Math.floor(Math.random() * alpha.length)];
							var c = alpha[Math.floor(Math.random() * alpha.length)];
							var d = alpha[Math.floor(Math.random() * alpha.length)];
							var e = alpha[Math.floor(Math.random() * alpha.length)];
							var f = alpha[Math.floor(Math.random() * alpha.length)];
							var g = alpha[Math.floor(Math.random() * alpha.length)];
						 }
					 var code = a + ' ' + b + ' ' + ' ' + c + ' ' + d + ' ' + e + ' '+ f + ' ' + g;
					 document.getElementById("mainCaptcha").value = code
				 }
				 function ValidCaptcha(){
						 var string1 = removeSpaces(document.getElementById('mainCaptcha').value);
						 var string2 = removeSpaces(document.getElementById('txtInput').value);
						 if (string1 == string2){
							 return true;
						 }
						 else{        
							 return false;
						 }
				 }
				 function removeSpaces(string){
					 return string.split(' ').join('');
				 }
		</script>    
	</head>
	<body onload="Captcha();">
		 <form action = "http://localhost:5000/login" method = "post">
			 <p><b>Aadhaar Authentication History</b></p>
			 <p>Enter your 12 digit Aadhaar number or 16 digit Virtual ID to begin.</p>
					<input type="radio" id="aadhar number" name="aadhar number" value="aadhar number">
				 <label for="aadhar number">aadhar Number</label><br>
					<input type="radio" id="virtual_id" name="virtual_id" value="virtual_id">
					<label for="virtual_id "> virtual_id</label><br>
					<form action="{{ url_for('authentication_history') }}" method="post">
					 <label for="aadhar_number">
						 <i class="fas fa-user"></i>
					 </label>
					 <input type="text" name="aadhar_number" placeholder="AadharNumber" id="aadharnumber" required><br><br>
					 <table>
							<tr>
							 <td>
										 <b>Enter Captcha</b><br />
							 </td>
							</tr>
							<tr>
							 <td>
								 <input type="text" id="mainCaptcha"/>
									<input type="button" id="refresh" value="Refresh" onclick="Captcha();" />
							 </td>
							</tr>
							<tr>
							 <td>
								<input type="text" id="txtInput"/>    
							</td>
						 </tr>
						 <tr>
							<td>
								<input id="Button1" type="button" value="Check" onclick="alert(ValidCaptcha());"/>
							</td>
						</tr>
					</table>
			 
				 <script src="jquery-3.2.1.min.js" type="text/javascript"></script>
				 <script src="verification.js"></script>
							 
				 <label for="OTP">
					 <i class="fas fa-lock"></i>
				 </label>
		 
				 <input type="text" placeholder="Enter OTP" name="enter OTP" id="OTP" required><br><br> 
				 <button><a href="C:\Users\ssathi\flask_webapplication1\templates\login.html">history</a></button>   
		 </form>
	</body>
</html>