
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body class="loggedin">
		<nav class="navtop">
			<div>
				<h1>MyAadhar</h1>
                <a href="{{ url_for('home') }}"><i class="fas fa-home"></i>Home</a>
				<a href="{{ url_for('login') }}"><i class="fas fa-user-circle"></i>Login</a>
				<a href="{{ url_for('verify') }}"><i class="fas fa-sign-out-alt"></i>Verify</a>
				<a href="{{ url_for('download') }}"><i class="fas fa-user-circle"></i>Download</a>
				<a href="{{ url_for('retrieve') }}"><i class="fas fa-sign-out-alt"></i>Retrieve</a>
				<a href="{{ url_for('link') }}"><i class="fas fa-user-circle"></i>Bank Linking Status</a>
				<a href="{{ url_for('unlock') }}"><i class="fas fa-sign-out-alt"></i>Lock Unlock Aadhar</a>
				<a href="{{ url_for('update') }}"><i class="fas fa-user-circle"></i>Update Aadhar</a>

				
			</div>
		</nav>
		<div class="search-container" align="center">
			<form action="" align="center">
			<button type="submit"><i class="fa fa-user-circle" aria-hidden="true"></i></button>
				<input type="text" placeholder="myaadhar.uidai.gov.in" name=" search">
				<button type="submit"><i class="fa fa-search"></i></button><br>
			</form>
		</div><br>
		<p><b>my Aadhar</b></p>
		<p>one portal for all online services</p>
		<p>you may please visit our new my aadhar beta portal also to do online Demographic update</p>
		

	</body>
</html>