
<html>
	<head>
	 <meta charset="utf-8">
		 <script type="text/javascript">
				function Captcha(){
						var alpha = new Array('A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z','a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z');
						var i;
						for (i=0;i<6;i++){
							var a = alpha[Math.floor(Math.random() * alpha.length)];
							var b = alpha[Math.floor(Math.random() * alpha.length)];
							var c = alpha[Math.floor(Math.random() * alpha.length)];
							var d = alpha[Math.floor(Math.random() * alpha.length)];
							var e = alpha[Math.floor(Math.random() * alpha.length)];
							var f = alpha[Math.floor(Math.random() * alpha.length)];
							var g = alpha[Math.floor(Math.random() * alpha.length)];
						 }
					 var code = a + ' ' + b + ' ' + ' ' + c + ' ' + d + ' ' + e + ' '+ f + ' ' + g;
					 document.getElementById("mainCaptcha").value = code
				 }
				 function ValidCaptcha(){
						 var string1 = removeSpaces(document.getElementById('mainCaptcha').value);
						 var string2 = removeSpaces(document.getElementById('txtInput').value);
						 if (string1 == string2){
							 return true;
						 }
						 else{        
							 return false;
						 }
				 }
				 function removeSpaces(string){
					 return string.split(' ').join('');
				 }
		</script>    
	</head>
	<body onload="Captcha();">
		 <form action = "http://localhost:5000/login" method = "post">
			 <p><b>Check Aadhaar PVC Card Order Status</b></p>
			 <p>Use this page to check the status of the new SRNs, starting with 'S' and issued by myaadhaar portal. Status of SRNs starting with number and originated with older portal are to be checked at https://resident.uidai.gov.in/check-reprint-status
			</p>
			 
					<form action="{{ url_for('update_history') }}" method="post">
					 <label for="SRN">
						 <i class="fas fa-user"></i>
					 </label>
					 <input type="text" name="SRN" placeholder="Enter SRN" id="Enter SRN" required><br><br>
					 <table>
							<tr>
							 <td>
										 <b>Enter Captcha</b><br />
							 </td>
							</tr>
							<tr>
							 <td>
								 <input type="text" id="mainCaptcha"/>
									<input type="button" id="refresh" value="Refresh" onclick="Captcha();" />
							 </td>
							</tr>
							<tr>
							 <td>
								<input type="text" id="txtInput"/>    
							</td>
						 </tr>
						 <tr>
							<td>
								<input id="Button1" type="button" value="Check" onclick="alert(ValidCaptcha());"/>
							</td>
						</tr>
					</table>
			 
				 <script src="jquery-3.2.1.min.js" type="text/javascript"></script>
				 <script src="verification.js"></script>
				 <button><a href="C:\Users\ssathi\flask_webapplication1\templates\login.html">Order_status</a></button>    
		 </form>
	</body>
</html>